*{
    box-sizing: border-box;
}

body{ 
    margin: 5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface{
    width: 400px;
    border: 1px solid black;
}

.screen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    height: 110px;
    align-items: flex-end;
    padding: 1em;
    margin-bottom: 0.25em;
    background-color: #c5c5c5;
}

.screen-upper,
.screen-lower{
    font-size: 2.2rem;
    text-align: right;
}

.screen-upper{
    font-size: 1.5rem;
}

.inputs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.25em;
}

button{
    padding: 1em;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover{
    background-color: grey;
}

button:last-child{
    width: 100%;
    grid-column: 1 / -1;
}